setuptools
flask
requests
BeautifulSoup4
werkzeug
flask_login
pymongo
yagmail
nltk
anaconda
gensim
tweepy
TwitterSearch
instagram_private_api
youtube-dl
wikipedia2Vec
numpy
lxml
stripe
google-api-python-client
google-auth 
google-auth-oauthlib
google-auth-httplib2