<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100i&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
    h1{
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        text-align:center;
        font-size: 350%;
        color: white;
        background-color: #212121;
        margin-top: 0;
        cursor: pointer;
    }
    body{
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
        margin: auto;
        color:white;
        background-color: #212121;
    }
    
    </style>
</head>
<body>
    <h1 onclick="location.reload()">Flui</h1>
    <div style="width: 30vw;">
        <div style="width: 10vw;"></div>
        <div style="width: 10vw;"></div>
        <div style="width: 10vw;"></div>
        <div style="width: 10vw;"></div>
        <div style="width: 10vw;"></div>
        <div style="width: 10vw;"></div>
        <div style="width: 10vw;"></div>
    </div>
</body>
</html>