<!DOCTYPE html>
<html>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100i&display=swap" rel="stylesheet">
    <style>
        body{
            font-family: 'Montserrat', sans-serif;
            font-weight: 100;
            color:#707070;
            font-size: 5vw;
            text-align:center;
            overflow-x: hidden;
            font-style: italic;
            display: inline-flex;
        }
    </style>
    <body>
        <div style="top:40%; position: absolute;">Woops. We messed up and we're looking into it.</div>
    </body>
</html>