<pre>
The user of this app will be reffered to as "the client" for the remainder of this document.
Flui uses the services of third parties, Facebook, Google and Twitter in order to verify the validity of a client's claim to a username.
Flui will not utilize the client's username to collect any information that is not publicly available, including email addresses, or other private data. 
Flui also does not, to the knowledge of the developers, utilize cookies to track user information. Flui's use of data given to them is solely
for authentication, and will not be used for any purpose other than that. 
</pre>